
body {
  background-image: url("../Images/paper.jpg");
  background-size:cover;
}

/*for the logo*/
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  aline:center;

}
/*item image*/
.item {

  display:grid;
  position:relative;
  grid-template-rows: auto:1fr;
  border radious: 15px;
  align-items:center;
  width: 250px;
  height: 250px;
}
/* div seen*/
.item{
  width: 90%;
  padding: 20px;
  margin: 100px auto;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.box{
  width: 250px;
  margin: 0 10px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 1);
  transition: 1s;
}
.box img{
 display: block;
 width: 100%;
 border-radius: 5px;
}
.box :hover{
   transform: scale(1.3);
   z-index: 2;
}
/* add avideo ඔෆර්ස්*/
.video{
  align-items:center;
   width: 250px;
  height: 250px;
}
/*3image aline*/
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
} 
h1 {
  font-family: "Times New Roman", Times, serif;
}

h3 {
  font-family: "Lucida Console", "Courier New", monospace;
}

hr{
  border-top: 1px solid black;
}


th.col1 {
  text-align: left;
}

th.col2 {
  text-align: left;
}

div.tbl{
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;	
}

.bttn1
{
	margin: px 80px 80px 80px;
	width: 40%
	height : 25px;
	align-content: center;
	background- color: pink;
	font-size: 16px;
	font-weight: bold;
}
h7 {
  font-family: "Times New Roman";
  font-size: 35px;
  color: blue;
  
}

h8 {
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  color: black;
  
  
}
h9 {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  color: black;
  
  
}
	footer {
		text-align: center;
		padding: 3px;
		background-color: DarkSalmon;
		color: white;
	  }

    columnew {
      float: left;
      width: 10%;
      padding: 5px;
    }